<?xml version="1.0" encoding="utf-8" ?>
<c2eventsheet>
    <!--All the 'name' attributes are ignored by Construct 2 - they are there for readability only.-->
    <name>Config</name>
    <events>
        <comment>Idioma do jogo. Opções: [pt] ou [en].</comment>
        <variable constant="0" name="Idioma" sid="113904520754009" static="0" type="text">en</variable>
    </events>
</c2eventsheet>
